<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <listener>
        <listener-class>com.ngnsoft.ngp.server.GameServer</listener-class>
    </listener>
    <servlet>
        <servlet-name>GameRequestServlet</servlet-name>
        <servlet-class>com.ngnsoft.ngp.server.GameRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileServlet</servlet-name>
        <servlet-class>com.ngnsoft.ngp.web.servlet.FileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaypalProductPage</servlet-name>
        <servlet-class>com.ngnsoft.ngp.web.servlet.paypal.ProductPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaypalCheckout</servlet-name>
        <servlet-class>com.ngnsoft.ngp.web.servlet.paypal.Checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdTrackNotify</servlet-name>
        <servlet-class>com.ngnsoft.ngp.web.servlet.AdTrackNotify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopularizeNotify</servlet-name>
        <servlet-class>com.ngnsoft.ngp.web.servlet.PopularizeNotify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaypalOrderConfirm</servlet-name>
        <servlet-class>com.ngnsoft.ngp.web.servlet.paypal.OrderConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaypalCancel</servlet-name>
        <servlet-class>com.ngnsoft.ngp.web.servlet.paypal.Cancel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaypalNotify</servlet-name>
        <servlet-class>com.ngnsoft.ngp.web.servlet.paypal.PaypalNotify</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GameRequestServlet</servlet-name>
        <url-pattern>/gr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileServlet</servlet-name>
        <url-pattern>/img/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileServlet</servlet-name>
        <url-pattern>/file/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdTrackNotify</servlet-name>
        <url-pattern>/misc/ad.st</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PopularizeNotify</servlet-name>
        <url-pattern>/misc/pn.st</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaypalProductPage</servlet-name>
        <url-pattern>/misc/ppi/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaypalCheckout</servlet-name>
        <url-pattern>/misc/paypal/check.st</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>PaypalOrderConfirm</servlet-name>
        <url-pattern>/misc/paypal/confirm.st</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>PaypalCancel</servlet-name>
        <url-pattern>/misc/paypal/cancel.st</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaypalNotify</servlet-name>
        <url-pattern>/misc/ppn.st</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
